.desktop-screen {
    cursor: pointer;
    position: relative;
    width: 130px;
    height: 80px;
    border: 2px solid #5c6ac4;
    border-radius: 10px;
}

.desktop-screen--unactive {
    border-color: #d0d3d6;
}

.bottom-left {
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #5c6ac4;
}

.bottom-right {
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: #5c6ac4;
}

.top-left {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #5c6ac4;
}

.top-right {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #5c6ac4;
}

.position--unactive {
    background-color: #d0d3d6;
}